
body{
    display: grid;
    grid-template-rows: repeat(5,20%);
    background-color: #002F2F;
    color: #EFECCA;
    font-family: 'Courier New', Courier, monospace;
}

header{
    margin-left:100px;
    height: 50px;
}
.header{
    display: grid;
    grid-template-columns: repeat(3, 33%);
}

.pp{
    width: 40%;
    height: auto;
}

h2{
   
    padding: 20px;
}
.formation{
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.langue{
    display: grid;
    grid-template-columns: repeat(3, 33%);
}

.info{
    display: grid;
    grid-template-columns: repeat(3, 33%);
}

.pro{
    display: grid;
    grid-template-columns: repeat(3, 33%);
}

.interet{
    display: grid;
    grid-template-columns: repeat(3, 33%);
}
img{
    width: auto;
    height: 150px;
    margin-left: 100px;
}

.forma{
    width: auto;
    height: 150px;
    margin-right: 50px;
}

.style{
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    color: #E6E2AF;   
    background-color: #046380;
}